extend ../base/base

block content
  body    
    include ../components/header
    main
      section.wrapper-hero
        div.container
          div.hero
            div.hero-content
              h1  Gere mais #[span oportunidades] para seu negócio
              p O RD Station Marketing é um software para sua empresa fazer campanhas melhores, nutrir Leads, gerar oportunidades comerciais qualificadas e alcançar mais resultados.
            div.hero-form
              include ../components/form

      section.wrapper-together
        div.container
          div.together-content
            h3 Estaremos juntos desde o primeiro passo!
            p Se você ainda não sabe como extrair o máximo das ações digitais, não tem problema. O #[strong RD Station Marketing] é mais que uma ferramenta, nos importamos com os seus resultados.
            strong Estaremos com você do planejamento até a prática!

      section.wrapper-list
        div.container
          div.list-content
            div.photo
              img(src="assets/images/results.png" alt="results list img")
            div.list
              h3 Resultados previsíveis e mais clientes para sua empresa
              p Torne sua atuação no Marketing Digital mais eficaz
              ul
                li #[img(src="assets/images/icons/check.svg")]
                  p.
                    #[span Ferramentas intuitivas] e com modelos prontos, vídeos explicativos e passo a passo guiado
                li #[img(src="assets/images/icons/check.svg")]
                  p.
                    #[span Implementação com especialistas] focada em planejamento e prática (nos planos Marketing Pro e Enterprise)
                li #[img(src="assets/images/icons/check.svg")]
                  p.
                    #[span Time de especialistas em Sucesso do Cliente] para apoiar na otimização da estratégia em cada fase da sua jornada (nos planos Marketing Pro e Enterprise)
                li #[img(src="assets/images/icons/check.svg")]
                  p.
                    #[span Suporte técnico] em português, espanhol e inglês para tirar dúvidas, com 97% de satisfação entre nossos clientes
                li #[img(src="assets/images/icons/check.svg")]
                  p.
                    #[span Muito conteúdo educativo,] eventos, cursos da #[a(href="https://rduniversity.com.br/" target="_blank" rel="noopener") RD University] e comunidades para você continuar evoluindo

      section.wrapper-benefits
        div.container
          h2 A ferramenta de Automação de Marketing líder na América Latina
          div.cards
            ul.card-slider
              li.card
                div
                  img(src="assets/images/icons/chart-line.svg" alt="chart line icon")  
                strong Torne sua operação de Marketing Digital mais produtiva
                p Chega de usar várias ferramentas separadas e perder as informações no caminho! Somos o que chamam de ferramenta tudo-em-um: reunimos os principais recursos de Marketing Digital em um só lugar para sua operação ser mais eficaz. 
              li.card
                div
                  img(src="assets/images/icons/bullhorn.svg" alt="bullhorn icon")
                strong Crie facilmente campanhas que funcionam
                p É fácil usar o RD Station Marketing, porque suas funcionalidades são simples, mas poderosas, e contam com dezenas de modelos — como de Landing Pages, Pop-ups, emails — para diversas ocasiões e segmentos que você pode personalizar de acordo com a sua campanha.   
              li.card
                div
                  img(src="assets/images/icons/chart-network.svg" alt="chart-networ icon")
                strong Construa jornadas personalizadas e gere vendas em escala
                p Envie a mensagem certa na hora certa e construa jornadas personalizadas que geram até 5x mais conversões e guiam Leads até a compra. Automatize também suas tarefas e aumente a produtividade de Marketing e Vendas.  
              li.card
                div
                  img(src="assets/images/icons/star.svg" alt="star icon")            
                strong Encontre automaticamente as melhores oportunidades
                p Conheça melhor seu público, de acordo com as informações capturadas nas suas páginas e formulários. Defina critérios para identificar automaticamente Leads com maior potencial de compra e envie para o comercial oportunidades qualificadas.
              li.card
                div
                  img(src="assets/images/icons/chart-pie.svg" alt="chart-pie icon")
                strong Saia da incerteza e comprove resultados
                p Ao invés de fazer uma série de ações isoladas, sem saber qual funciona, junte as informações de todos os seus contatos e suas ações em diferentes canais com recursos de análise para provar que Marketing Digital traz mais vendas e clientes.
              li.card
                div
                  img(src="assets/images/icons/globe.svg" alt="globe icon")
                strong Suporte ágil e na sua língua
                p Nosso time de suporte técnico está disponível quando você precisar, com uma taxa de satisfação de 97% entre nossos clientes e um tempo médio de resolução de 6 horas. E o melhor: tudo isso em português.

      section.wrapper-cta
        div.container
          div.cta
            h2 Por que mais de 25.000 empresas escolheram o RD Station?
            p Combinamos nossos produtos de Marketing e Vendas com pessoas que se importam com seus resultados e um ecossistema que apoia o seu negócio do planejamento à prática.
            a(href="https://app.rdstation.com.br/signup" target="_blank" rel="noopener").btn.-highlighted criar conta gratuita

      section.wrapper-demo
        div.container.pad-right
          div.demo-content
            div.demo
              h3 Entenda melhor como o RD Station Marketing funciona na prática
              button.btn.-secondary.play-video assista a demonstração
                img(src="assets/images/icons/play-circle.svg")
            div.video
              button(aria-label="play video button").play-video
                img(src="assets/images/play.svg" alt="play video")

      section.wrapper-integrations
        div.container 
          div.integrations-content
            div.integrations
              h2 Torne sua operação de Marketing ainda mais poderosa
              p O RD Station Marketing se conecta as principais ferramentas nacionais e internacionais 
              a(href="https://app.rdstation.com.br/signup" target="_blank" rel="noopener").btn.-primary criar conta gratuita
            div.integrations-logos
              ul
                li
                  img(src="assets/images/icons/rd-station-crm.svg" alt="rd station icon")
                  span RD Station CRM
                li
                  img(src="assets/images/icons/salesforce.svg" alt="salesforce icon")
                  span Salesforce
                li
                  img(src="assets/images/icons/google.svg" alt="Google icon")
                  span Google
                li
                  img(src="assets/images/icons/facebook.svg" alt="Facebook icon")
                  span Facebook
                li
                  img(src="assets/images/icons/linkedin.svg" alt="Linkedin icon")
                  span Linkedin
                li
                  img(src="assets/images/icons/wordpress.svg" alt="Wordpress icon")
                  span Wordpress
                li
                  img(src="assets/images/icons/hotmart.svg" alt="Hotmart icon")
                  span Hotmart
                li
                  img(src="assets/images/icons/pagseguro.svg" alt="PagSeguro icon")
                  span PagSeguro CRM
                li
                  img(src="assets/images/icons/shopify.svg" alt="Shopify icon")
                  span Shopify 
                li
                  img(src="assets/images/icons/zapier.svg" alt="Zapier icon")
                  span Zapier
    footer
      div.container
        div.footer-principal
          img(src="assets/images/logo-black.svg" alt="logo rd station")
          ul
            li
              a(href="https://twitter.com/rd_station" target="_blank" rel="noopener")
                img(src="assets/images/social/twitter-black.svg" alt="social icon from twitter")
            li
              a(href="https://www.facebook.com/ResultadosDigitais/" target="_blank" rel="noopener")
                img(src="assets/images/social/facebook-black.svg" alt="social icon from facebook")
            li
              a(href="https://www.linkedin.com/company/resultadosdigitais" target="_blank" rel="noopener")
                img(src="assets/images/social/linkedin-black.svg" alt="social icon from linkedin")
            li
              a(href="https://www.instagram.com/resdigitais/" target="_blank" rel="noopener")
                img(src="assets/images/social/instagram-black.svg" alt="social icon from instagram")
            li
              a(href="https://www.youtube.com/channel/UC5lPKvmw6-DFya_qreisENQ" target="_blank" rel="noopener")
                img(src="assets/images/social/youtube-black.svg" alt="social icon from youtube")
        div.copyright
          strong © 2021 RD Station. #[a(href="https://legal.rdstation.com/pt/privacy-policy/" title="politica de privacidade") Política de Privacidade].
    include ../components/modal