$color-primary: #19C1CE !default;
$color-primary-50: #07E5EB !default;
$color-primary-10: #0B485B !default;

$color-highlight: #F2BF4E !default;
$color-highlight-50: #F4CA6D !default;

$color-black: #000000 !default;
$color-gray-100: #212429 !default;
$color-gray-70: #7E8A98 !default;
$color-gray-60: #97A1AC !default;
$color-gray-30: #CFD3D8 !default;
$color-gray-10: #F1F3F5 !default;
$color-white: #FFFFFF !default;